 .title {
    text-transform: uppercase;
    font-size: 5rem;
    font-family: 'Protest Riot', sans-serif;
    cursor: pointer;
    color: #FFFFFF;
 }

 .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
 }

