@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Signika:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration: inherit;
}

.app {
  min-height: 100vh;
  border: 8px solid #ccdcfa93;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;

}